<div class="umb-panel" ng-controller="UmbracoPersonalisationGroups.AuthenticationStatusPersonalisationGroupCriteriaController">

    <div class="umb-panel-body no-header with-footer compact">

        <p>Please enter the authentication status settings:</p>

        <umb-pane>
            <table>
                <tr><td style="padding-right: 10px; padding-top: 5px;">Is logged in? </td><td><input type="checkbox" ng-model="renderModel.isAuthenticated" value="true" /></td></tr>
            </table>
        </umb-pane>
    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>

                <a href ng-click="saveAndClose()" class="btn btn-primary">
                    <localize key="buttons_save">Save</localize>
                </a>
            </div>
        </div>
    </div>
</div>

