@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;

@{
	Layout = "Master.cshtml";
}

<h1>@Model.Name</h1>

<h2>Pages</h2>

<ul>
@foreach(var child in Model.Children
    .Where(x => x.ShowToVisitor(showIfNoGroupsDefined: false)))
{
    <li>@child.Name (score: @child.ScoreForVisitor())</li>
}
</ul>