@inherits Umbraco.Web.Mvc.UmbracoViewPage	     
<!DOCTYPE html >
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <header>
        @if (Request.IsAuthenticated)
        {
            @Html.Action("MemberDetails", "AccountSurface")
        }
        else
        {
            if (TempData["LoginFailed"] != null && (bool)TempData["LoginFailed"])
            {
                <div>Login failed.</div>
            }
            @Html.Partial("_LoginForm", new TestWebAppV8.Models.LoginFormModel { })
        }
    </header>

    @RenderBody()
</body>
</html>