<div class="umb-panel" ng-controller="UmbracoPersonalisationGroups.DayOfWeekPersonalisationGroupCriteriaController">

    <div class="umb-panel-body no-header with-footer compact" style="padding-left: 16px; padding-right: 16px">

        <p>Please select the months for which this group will be valid:</p>

        <umb-pane>
            <table>
                <tr><td style="padding-right: 10px; padding-top: 5px;">Sunday: </td><td><input type="checkbox" ng-model="renderModel.days[0]" /></td></tr>
                <tr><td style="padding-right: 10px; padding-top: 5px;">Monday: </td><td><input type="checkbox" ng-model="renderModel.days[1]" /></td></tr>
                <tr><td style="padding-right: 10px; padding-top: 5px;">Tuesday: </td><td><input type="checkbox" ng-model="renderModel.days[2]" /></td></tr>
                <tr><td style="padding-right: 10px; padding-top: 5px;">Wednesday: </td><td><input type="checkbox" ng-model="renderModel.days[3]" /></td></tr>
                <tr><td style="padding-right: 10px; padding-top: 5px;">Thursday: </td><td><input type="checkbox" ng-model="renderModel.days[4]" /></td></tr>
                <tr><td style="padding-right: 10px; padding-top: 5px;">Friday: </td><td><input type="checkbox" ng-model="renderModel.days[5]" /></td></tr>
                <tr><td style="padding-right: 10px; padding-top: 5px;">Saturday: </td><td><input type="checkbox" ng-model="renderModel.days[6]" /></td></tr>
            </table>
        </umb-pane>
    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>

                <a href ng-click="saveAndClose()" class="btn btn-primary">
                    <localize key="buttons_save">Save</localize>
                </a>
            </div>
        </div>
    </div>
</div>

