<div class="umb-panel" ng-controller="UmbracoPersonalisationGroups.TimeOfDayPersonalisationGroupCriteriaController">

    <div class="umb-panel-body no-header with-footer compact">
        <p>Please enter the time ranges for which this group will be valid. Times must be entered in 24h clock format, e.g. 1030, 1400:</p>

        <table class="table table-striped">
            <thead>
            <tr>
                <td>From</td>
                <td>To</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="period in renderModel.periods">
                <td>
                    <span ng-show="!period.edit">{{period.from}}</span>
                    <input type="text" ng-model="period.from" ng-show="period.edit" style="width: 100px"/>
                </td>
                <td>
                    <span ng-show="!period.edit">{{period.to}}</span>
                    <input type="text" ng-model="period.to" ng-show="period.edit" style="width: 100px"/>
                </td>
                <td>
                    <div class="btn-group" ng-show="!period.edit">
                        <button type="button" class="btn btn-default" ng-click="edit($index)"><localize key="edit">Edit</localize></button>
                        <button type="button" class="btn btn-default" ng-click="delete($index)"><localize key="delete">Delete</localize></button>
                    </div>
                    <div class="btn-group" ng-show="period.edit">
                        <button type="button" class="btn btn-default" ng-click="saveEdit($index)"><localize key="buttons_save">Save</localize></button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td><input type="text" ng-model="newFrom" val-highlight="hasError" style="width: 100px"/></td>
                <td><input type="text" ng-model="newTo" val-highlight="hasError" style="width: 100px"/></td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="add()"><localize key="general_add">Add</localize></button>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>

                <a href ng-click="saveAndClose()" class="btn btn-primary">
                    <localize key="buttons_save">Save</localize>
                </a>
            </div>
        </div>
    </div>
</div>

