<form name="definitionDetailEditor">
    <div class="umb-panel" ng-controller="UmbracoVisitorGroups.DayOfWeekVisitorGroupCriteriaController">

        <div class="umb-panel-body no-header with-footer compact">

            <umb-pane>
                <div>Sunday: <input type="checkbox" ng-model="renderModel.days[0]" /></div>
                <div>Monday: <input type="checkbox" ng-model="renderModel.days[1]" /></div>
                <div>Tuesday: <input type="checkbox" ng-model="renderModel.days[2]" /></div>
                <div>Wednesday: <input type="checkbox" ng-model="renderModel.days[3]" /></div>
                <div>Thursday: <input type="checkbox" ng-model="renderModel.days[4]" /></div>
                <div>Friday: <input type="checkbox" ng-model="renderModel.days[5]" /></div>
                <div>Saturday: <input type="checkbox" ng-model="renderModel.days[6]" /></div>
            </umb-pane>
        </div>


        <div class="umb-panel-footer">
            <div class="umb-el-wrap umb-panel-buttons">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <a href ng-click="close()" class="btn btn-link">
                        <localize key="general_cancel">Cancel</localize>
                    </a>

                    <a href ng-click="saveAndClose()" class="btn btn-primary">
                        <localize key="buttons_save">Save</localize>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
