<div class="umb-panel" ng-controller="UmbracoPersonalisationGroups.CookiePersonalisationGroupCriteriaController">

    <div class="umb-panel-body no-header with-footer compact">

        <p>Please enter the cookie settings:</p>

        <umb-control-group alias="key" label="Key">
            <input type="text" ng-model="renderModel.key" />
        </umb-control-group>
        <umb-control-group alias="match" label="Comparison">
            <select ng-model="renderModel.match">
                <option value="Exists">Cookie is present</option>
                <option value="DoesNotExist">Cookie is absent</option>
                <option value="MatchesValue">Cookie value matches</option>
                <option value="ContainsValue">Cookie value contains</option>
            </select>
        </umb-control-group>
        <umb-control-group alias="value" label="Value">
            <input type="text" ng-model="renderModel.value" ng-disabled="!valueRequired()" />
        </umb-control-group>

    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>

                <a href ng-click="saveAndClose()" class="btn btn-primary">
                    <localize key="buttons_save">Save</localize>
                </a>
            </div>
        </div>
    </div>
</div>

