<div class="umb-panel querystring-personalisation-group-critera" ng-controller="UmbracoPersonalisationGroups.QuerystringPersonalisationGroupCriteriaController">
    
    <div class="umb-panel-body no-header with-footer compact" style="padding-left: 16px; padding-right: 16px">

        <p>Please enter the querystring settings:</p>

        <umb-pane>
            <table class="table">
                <tr>
                    <td style="padding-top: 12px"><label class="control-label" for="key">Key</label></td>
                    <td style="padding-top: 20px">
                        <input type="text" ng-model="renderModel.key" />
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 12px"<label class="control-label" for="match">Comparison</label></td>
                    <td style="padding-top: 20px">
                        <select ng-model="renderModel.match">
                            <option value="MatchesValue">Matches value</option>
                            <option value="DoesNotMatchValue">Does not match value</option>
                            <option value="ContainsValue">Contains value</option>
                            <option value="DoesNotContainValue">Does not contain value</option>
                            <option value="MatchesRegex">Matches regular expression</option>
                            <option value="DoesNotMatchRegex">Does not match regular expression</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 12px"><label class="control-label" for="value">Value</label></td>
                    <td style="padding-top: 20px">
                        <input type="text" ng-model="renderModel.value" />
                        <div ng-if="currentMatchIsCaseInsensitive()">
                            <em>Matching is not case sensitive</em>
                        </div>
                    </td>
                </tr>
            </table>
        </umb-pane>

    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>
                <a href ng-click="saveAndClose()" class="btn btn-primary">
                    <localize key="buttons_save">Save</localize>
                </a>
            </div>
        </div>
    </div>
</div>
