<div class="umb-panel" ng-controller="UmbracoPersonalisationGroups.CountryPersonalisationGroupCriteriaController">

    <div class="umb-panel-body no-header with-footer compact" style="padding-left: 16px">
        <p>Please select the countries for for the group.</p>

        <umb-control-group alias="match" label="Comparison">
            <select ng-model="renderModel.match">
                <option value="IsLocatedIn">Visitor is located in</option>
                <option value="IsNotLocatedIn">Visitor is not located in</option>
                <option value="CouldNotBeLocated">Visitor cannot be located</option>
            </select>
        </umb-control-group>
        <umb-control-group alias="countries" label="Countries">
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="country in renderModel.countries">
                        <td>
                            <span ng-show="!country.edit">{{getCountryName(country.code)}}</span>
                            <select ng-model="country.code"
                                    ng-options="item.code as item.name for item in availableCountries"
                                    ng-show="country.edit"
                                    ng-disabled="!geoDetailsRequired()"></select>
                        </td>
                        <td>
                            <div class="btn-group" ng-show="!country.edit">
                                <button type="button" class="btn btn-default" ng-click="edit($index)" ng-disabled="!geoDetailsRequired()"><localize key="edit">Edit</localize></button>
                                <button type="button" class="btn btn-default" ng-click="delete($index)" ng-disabled="!geoDetailsRequired()"><localize key="delete">Delete</localize></button>
                            </div>
                            <div class="btn-group" ng-show="country.edit">
                                <button type="button" class="btn btn-default" ng-click="saveEdit($index)" ng-disabled="!geoDetailsRequired()"><localize key="buttons_save">Save</localize></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <select ng-model="newCountry.code"
                                    ng-options="item.code as item.name for item in availableCountries"
                                    ng-disabled="!geoDetailsRequired()"></select>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="add()" ng-disabled="!geoDetailsRequired()"><localize key="general_add">Add</localize></button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </umb-control-group>
    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>

                <a href ng-click="saveAndClose()" class="btn btn-primary">
                    <localize key="buttons_save">Save</localize>
                </a>
            </div>
        </div>
    </div>
</div>

